@import "tailwindcss";

@theme {
  --color-white-dark: #f8f8f8;
  --color-gray-primary: #c2c2c2;
  --color-primary-light: #a9eec9;
  --color-gray-secondary: #787878;
  --color-primary: #0f9067;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}
.scrollBar{
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; 
}
body{
  background-color: #F8F8F8;
}