@import "tailwindcss";

@theme {
  --color-white-dark: #f8f8f8;
  --color-gray-primary: #c2c2c2;
  --color-primary-light: #a9eec9;
  --color-gray-secondary: #787878;
  --color-primary: #0f9067;
}


.scrollBar{
  -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  scrollbar-width: none; 
}
body{
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.box-shawdow{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.shawdow---feature{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
}