@media (max-width: 640px) {
  .sidebar {
    display: none;
  }
  .smallscreenheader {
    display: flex;
    padding: 10px;
  }
  .menutoggle {
    margin-right: 30px;
  }
  .homedivsmallscreen {
    display: block;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .smallscreenheader {
    display: none;
  }
}

.center {
  word-break: break-word;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1024px) {
  .smallscreenheader {
    display: none;
  }
}
